.select-waste-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}

.boxes-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    width: 100%;
    /* Ensure the boxes container takes full width */
}

.waste-box {
    width: 100%;
    /* Full width of its container */
    max-width: 1200px;
    /* Increase max-width for larger screens */
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.waste-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.waste-box h3 {
    position: relative;
    z-index: 2;
}

.waste-box:nth-child(1) {
    background-image: url('../../images/repairewaste.jpg');
}

.waste-box:nth-child(2) {
    background-image: url('../../images/disposeewaste.jpg');
}

.waste-box:nth-child(3) {
    background-image: url('../../images/generalwaste.jpeg');
}

.waste-box:hover {
    transform: scale(1.05);
}

.help-button,
.checklist-button {
    margin-top: 20px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    max-width: 200px;
    text-align: center;
}

.help-button {
    background-color: #007bff;
}

.help-button:hover {
    background-color: #0056b3;
}

.checklist-button {
    background-color: #4caf50;
}

.checklist-button:hover {
    background-color: #388e3c;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensures modal is on top */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    text-align: center;
    /* Ensures content is above overlay */
}

.modal-content ol li {
    margin-top: 15px; /* Adds space above each question */
}

.modal-content ul li, ol li {
    text-align: left;
}

.close-button-container {
    display: flex;
    justify-content: center;
    /* Centers the button horizontally */
    margin-top: 20px;
    /* Optional: Adds space above the button */
}

.close-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #d32f2f;
}