.directions-box {
    border: 1px solid #031eed;
    /* Border color */
    border-radius: 5px;
    /* Rounded corners */
    padding: 15px;
    /* Padding inside the box */
    margin: 20px 0;
    /* Space around the box */
    background-color: #77e63b;
    /* Light background color */
}

.forum-button {
    margin-top: 10px;
    /* Adjust this value as needed */
}