.directions-box {
    border: 1px solid #031eed;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    background-color: #77e63b;
}

.nav-pills .nav-link {
    border-radius: 0.5rem;
    margin-right: 10px;
    color: #4caf50;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    border: 5px solid #fff;
    transition: border-color 0.3s;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-pills .nav-item {
    display: inline-block;
}

.nav-pills .nav-link.active {
    background-color: #4caf50;
    color: white;
    border: 5px solid #4caf50;
}

.nav-pills .nav-link:hover {
    border-color: #4caf50;
    background-color: white;
    color: #4caf50;
}

.nav-pills .nav-link.active:hover {
    background-color: #388e3c;
    color: white;
}

.nav-pills {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.instructions-container {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 30px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: justify;
}

.find-locations-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.find-locations-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.input-container {
    height: 60px;
    transition: height 0.3s ease;
    overflow: hidden;
}

.location-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: border-color 0.3s;
}

.location-input:focus {
    border-color: #4caf50;
    outline: none;
}

.transport-mode-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transport-mode-container label {
    margin-right: 10px;
    color: #333;
}

.transport-mode-select {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: border-color 0.3s;
}

.transport-mode-select:focus {
    border-color: #007bff;
    outline: none;
}

.location-info {
    text-align: left;
    margin: 15px 0;
}

.shop-name {
    color: black;
}

.shop-address {
    color: black;
}

.website-link,
.maps-link {
    color: blue;
    text-decoration: none;
}

.website-link:hover,
.maps-link:hover {
    text-decoration: underline;
}

.forum-button-container {
    text-align: center;
    margin-top: 10px;
}

.forum-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forum-button:hover {
    background-color: #388e3c;
}

.instructions-container ol {
    padding-left: 20px;
    font-size: 0.8em;
}

.instructions-container h3 {
    font-size: 0.9em;
}

.instructions-container li {
    margin-bottom: 10px;
}

.back-button {
    background-color: #f44336;
    /* Red background for a clear back action */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 20px;
    /* Adds spacing between back button and other elements */
}

.back-button:hover {
    background-color: #d32f2f;
    /* Darker red on hover */
    transform: translateY(-2px);
    /* Slight lift effect on hover */
}