.signup-container {
    border: 1px solid #4caf50;
    border-radius: 5px;
    padding: 50px;
    margin: 20px auto;
    background-color: #f9f9f9;
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
    text-align: center;
    color: #4caf50;
}

.signup-container input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    transition: border-color 0.3s;
}

.signup-container input:focus {
    border-color: #4caf50;
    outline: none;
}

.user-type-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.user-type-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.user-type-container button:last-child {
    margin-right: 0;
}

.user-type-container button:hover {
    background-color: #388e3c;
}

.back-to-login-button {
    margin-top: 20px;
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.back-to-login-button:hover {
    color: #0056b3;
}